Lib/*
!/Lib/*
packages/
*/packages/
build_output/*
code_drop/*
log/*
.idea/*

*.suo
**/*.suo
**/*.user
bin
Apprisen.ICM/Apprisen.ICM.*/Bin
Apprisen.ICM/Apprisen.ICM.Database/sql
obj
_ReSharper*
.idea
Debug
Release

*.csproj.user
*.resharper.user
*.cache
*~
~$*
*.swp
*.bak
*.orig
*.user
*.cspkg

src/tests/*
*.dbmdl
*.BACKUP.*
*.LOCAL.*
*.REMOTE.*
*.BASE.*
*.vspscc
.sass-cache

# Rules to allow files that shouldn't be excluded
!*.Local.cscfg
!jquery.ui.base.css

TestResults.xml
AcceptanceTestResults.xml
ServiceDefinition.build.csdef
submit.xml
SolutionVersion.cs

*.rdl.data

